//- footer.footer
//-     p.footer__copyright &copy; 2022 Citoxe. All rights reserved.

<footer>
<div class="footer-container">
        <div class="about">
            <h2>ABOUT US</h2>
            <ul>
                <li>Our Story</li>
                <li>Contact Us</li>
                <li>Locate Stores</li>
                <li>OwnGrown Produce</li>
            </ul>
        </div>
        <div class="cust-care">
            <h2>CUSTOMER CARE</h2>
            <ul>
                <li>Track Order</li>
                <li>Shipping Policy</li>
                <li>Terms & Conditions</li>
                <li>Privacy Policy</li>
                <li>FAQs</li>
            </ul>
        </div>
        <div class="offer">
            <h2>OFFERS & REWARDS</h2>
            <ul>
                <li>Plant Parent Club</li>
                <li>Citoxe Cupons</li>
            </ul>
        </div>
        <div class="news-letter">
            <h2>sign up for our newsletter</h2>
            <p>For plant care tips, our featured plant of the week, exclusive offers and discounts</p>
            <form action="#">
                <input type="email" name="email-news" placeholder="Enter email address">
            <button type="submit" class="signup-btn">SignUp</button>
            </form>
            
        </div>
        <div class="align">
            <h2>FOLLOW US</h2>
        <div class="social">
            <div class="fb">
                <svg width="32" height="32" class="fbb" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_28_2)">
                    <path d="M23.446 18L24.335 12.209H18.778V8.45101C18.778 6.86701 19.554 5.32201 22.043 5.32201H24.569V0.392007C24.569 0.392007 22.277 0.00100708 20.085 0.00100708C15.509 0.00100708 12.518 2.77501 12.518 7.79601V12.21H7.431V18.001H12.518V32.001H18.778V18.001L23.446 18Z" fill="black"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_28_2">
                    <rect width="32" height="32" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
            </div>
            <div class="tw">
                <svg width="32" height="32" class="tww" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M30.304 7.136C29.52 8.304 28.528 9.344 27.376 10.176C27.392 10.416 27.392 10.672 27.392 10.928C27.392 18.688 21.488 27.632 10.704 27.632C7.39201 27.632 4.30401 26.656 1.69601 24.992C2.16001 25.04 2.62401 25.072 3.10401 25.072C5.85601 25.072 8.38401 24.128 10.384 22.56C9.16056 22.5347 7.97557 22.1279 6.99454 21.3964C6.0135 20.665 5.28543 19.6453 4.91201 18.48C5.26401 18.544 5.63201 18.592 6.01601 18.592C6.54401 18.592 7.07201 18.512 7.55201 18.384C6.22498 18.1116 5.03247 17.3899 4.17556 16.3406C3.31866 15.2914 2.84979 13.9787 2.84801 12.624V12.56C3.64801 12.992 4.54401 13.264 5.50401 13.296C4.7005 12.757 4.04219 12.0283 3.58731 11.1744C3.13243 10.3204 2.895 9.36755 2.89601 8.4C2.89601 7.328 3.18401 6.32 3.69601 5.456C6.59201 9.008 10.912 11.344 15.792 11.584C15.696 11.152 15.632 10.704 15.632 10.24C15.6363 8.68543 16.2568 7.19597 17.3575 6.09821C18.4583 5.00046 19.9494 4.384 21.504 4.384C23.2 4.384 24.72 5.088 25.792 6.24C27.12 5.968 28.384 5.488 29.52 4.816C29.072 6.176 28.144 7.328 26.928 8.048C28.0938 7.92058 29.2327 7.61292 30.304 7.136V7.136Z" fill="black"/>
                    </svg>
                    
            </div>
            <div class="yt">
                <svg width="32" height="32" class="ytt" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_28_10)">
                    <path d="M31.3333 8.676C31.1521 8.02964 30.7991 7.44446 30.3119 6.98267C29.811 6.50667 29.197 6.16618 28.5279 5.99333C26.0239 5.33333 15.9919 5.33333 15.9919 5.33333C11.8097 5.28575 7.62851 5.49503 3.47194 5.96C2.80286 6.14562 2.19002 6.49372 1.68794 6.97333C1.1946 7.448 0.837271 8.03333 0.650605 8.67467C0.202195 11.0903 -0.0156727 13.5431 -6.20989e-05 16C-0.0160621 18.4547 0.201271 20.9067 0.650605 23.3253C0.833271 23.964 1.18927 24.5467 1.68394 25.0173C2.1786 25.488 2.7946 25.828 3.47194 26.008C6.00927 26.6667 15.9919 26.6667 15.9919 26.6667C20.1795 26.7143 24.366 26.505 28.5279 26.04C29.197 25.8672 29.811 25.5267 30.3119 25.0507C30.799 24.589 31.1515 24.0037 31.3319 23.3573C31.7921 20.9426 32.0158 18.4888 31.9999 16.0307C32.0345 13.5621 31.8111 11.0968 31.3333 8.67467V8.676ZM12.8026 20.5653V11.436L21.1493 16.0013L12.8026 20.5653Z" fill="black"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_28_10">
                    <rect width="32" height="32" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
            </div>
            <div class="insta">
                <svg width="32" height="32" class="instt" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 11.8344C13.7062 11.8344 11.8344 13.7063 11.8344 16C11.8344 18.2938 13.7062 20.1656 16 20.1656C18.2937 20.1656 20.1656 18.2938 20.1656 16C20.1656 13.7063 18.2937 11.8344 16 11.8344ZM28.4937 16C28.4937 14.275 28.5094 12.5656 28.4125 10.8438C28.3156 8.84376 27.8594 7.06876 26.3969 5.60626C24.9312 4.14063 23.1594 3.68751 21.1594 3.59063C19.4344 3.49376 17.725 3.50938 16.0031 3.50938C14.2781 3.50938 12.5687 3.49376 10.8469 3.59063C8.84687 3.68751 7.07187 4.14376 5.60937 5.60626C4.14375 7.07188 3.69062 8.84376 3.59375 10.8438C3.49687 12.5688 3.5125 14.2781 3.5125 16C3.5125 17.7219 3.49687 19.4344 3.59375 21.1563C3.69062 23.1563 4.14687 24.9313 5.60937 26.3938C7.075 27.8594 8.84687 28.3125 10.8469 28.4094C12.5719 28.5063 14.2812 28.4906 16.0031 28.4906C17.7281 28.4906 19.4375 28.5063 21.1594 28.4094C23.1594 28.3125 24.9344 27.8563 26.3969 26.3938C27.8625 24.9281 28.3156 23.1563 28.4125 21.1563C28.5125 19.4344 28.4937 17.725 28.4937 16ZM16 22.4094C12.4531 22.4094 9.59062 19.5469 9.59062 16C9.59062 12.4531 12.4531 9.59063 16 9.59063C19.5469 9.59063 22.4094 12.4531 22.4094 16C22.4094 19.5469 19.5469 22.4094 16 22.4094ZM22.6719 10.825C21.8437 10.825 21.175 10.1563 21.175 9.32813C21.175 8.50001 21.8437 7.83126 22.6719 7.83126C23.5 7.83126 24.1687 8.50001 24.1687 9.32813C24.169 9.52477 24.1304 9.71953 24.0553 9.90125C23.9802 10.083 23.8699 10.2481 23.7309 10.3871C23.5918 10.5262 23.4267 10.6364 23.245 10.7116C23.0633 10.7867 22.8685 10.8253 22.6719 10.825Z" fill="black"/>
                    </svg>
                    
            </div>
        </div>
        </div>
        
</div>
</footer>