<div class="sec-1">
    <nav>
        <svg class='logo'>
            <use href='/img/icons.svg#icon-logo' />
        </svg>
        <span>Citoxe</span>
        <div class="menu">
            <ul class="menu-items">
                <li><a href="./index" class="link">Home</a></li>
                <li><a href="./shop" class="link" target="_blank">Shop</a></li>
                <li><a href="#" class="link">Plants Room</a></li>
                <li><a href="#sec-6" class="link">Care Point</a></li>
                <li><a href="#sec-4" class="link">Gifting</a></li>
                <li><a href="#sec-7" class="link">About Store</a></li>
            </ul>
        </div>
        <div class="user-act">
            <svg class='search'>
                <use href='/img/icons.svg#icon-search' />
            </svg>
            <a href="./cart">
                <svg class='cart'>
                    <use href='/img/icons.svg#icon-logo' />
                </svg>
            </a>
            if user 
                <button>Logout</button>
            else
                <a href="./login" target="_blank">
                    <svg class='user'>
                        <use href='/img/icons.svg#icon-user' />
                    </svg>
                </a>
            
            <svg class='menu-cta'>
                <use href='/img/icons.svg#icon-menu-cta' />
            </svg>
        </div>
    </nav>

    <div class="content">
        <h1>
            CITOXE
        </h1>
        <span class="tagline">
            Detoxify your Life
        </span>
    </div>
</div>