doctype html
html
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel="preconnect", href="https://fonts.googleapis.com")
            link(rel="preconnect", href="https://fonts.gstatic.com")
            link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap")
            link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap")
            
            link(rel='stylesheet' href='/css/style.css')
            //- link(rel='stylesheet' href='/css/login.css')
            link(rel='shortcut icon' type='/image/png' href='img/favicon.png')

            title Citoxe | #{title}
    
    body
        .container
        
        //Header
        <div class="sec-1">
            <nav>
                <svg class='logo'>
                    <use href='/img/icons.svg#icon-logo' />
                </svg>
                <span-1>Citoxe</span-1>
                <div class="menu">
                    <ul class="menu-items">
                        <li><a href="#" class="link">Home</a></li>
                        <li><a href="./shop" class="link" target="_blank">Shop</a></li>
                        <li><a href="#" class="link">Plants Room</a></li>
                        <li><a href="#sec-6" class="link">Care Point</a></li>
                        <li><a href="#sec-4" class="link">Gifting</a></li>
                        <li><a href="#sec-7" class="link">About Store</a></li>
                    </ul>
                </div>
                <div class="user-act">
                    <svg class='search'>
                        <use href='/img/icons.svg#icon-search' />
                    </svg>
                    <a href="./cart">
                        <svg class='cart'>
                            <use href='/img/icons.svg#icon-cart' />
                        </svg>
                    </a>
                    if user 
                        <button>Logout</button>
                    else
                        <a href="./login" target="_blank">
                            <svg class='user'>
                                <use href='/img/icons.svg#icon-user' />
                            </svg>
                        </a>
                    
                    <svg class='menu-cta'>
                        <use href='/img/icons.svg#icon-menu-cta' />
                    </svg>
                </div>
            </nav>

            <div class="content">
                <h1> CITOXE </h1>
                <span class="tagline"> Detoxify your Life</span>
            </div>
        </div>

        <div class="sec-2">

            <div class="left-box">
                <span-2>Desktop Plants</span-2> <br><p> dolor sit amet, consectetur adipisicing elit. Explicabo, quas.</p>
                <button class = "btn-cta" type="submit">
                More Details 
                </button>
            </div>
            <div class="right-box">
                <div class="sub-box1 sbox">
                    <img src="img/assets/bg-removed/andrew-reshetov-tXGOhiGBu5I-unsplash-removebg-preview.png" alt="" class="pc1">
                </div>
                <div class="sub-box2 sbox">
                    <img src="img/assets/bg-removed/galina-n-miziNqvJx5M-unsplash-removebg-preview.png" alt="" class="pc2">
                </div>
                <div class="sub-box3 sbox">
                    <img src="img/assets/bg-removed/areca_45.png" alt="" class="pc3">
                </div>
                <div class="sub-box4 sbox">
                    <img src="img/assets/bg-removed/crassulagreenmini_45.png" alt="" class="pc4">
                </div>
                <div class="sub-box5 sbox"></div>
                <div class="sub-box6 sbox"></div>
            </div>
        </div>

        <div class="sec-3">
            <div class="info-sec3">
                <p>Plants</p>
                <button type="submit" class="next-btn">

                    See All <svg class="next" viewBox="0 0 18 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.3167 30.7776C0.784168 30.2451 0.735756 29.4118 1.17146 28.8246L1.3167 28.6563L14.2554 15.717L1.3167 2.77764C0.784168 2.24511 0.735756 1.41178 1.17146 0.824556L1.3167 0.656321C1.84923 0.123788 2.68256 0.0753746 3.26978 0.511084L3.43802 0.656321L17.438 14.6563C17.9706 15.1889 18.019 16.0222 17.5833 16.6094L17.438 16.7776L3.43802 30.7776C2.85223 31.3634 1.90249 31.3634 1.3167 30.7776Z" fill="black"/>
                        </svg>
                        
                </button>
            </div>
            <div class="product-card">
                <div class="card-1">
                    <div class="card-container-1">
                        <div class="top-1"></div>
                        <div class="bottom">
                            <div class="btm-left">
                                <div class="details">
                                    <h1>HERBS</h1>
                                    <p>$5</p>
                                </div>
                                <div class="buy"><i class="icon">
                                    <svg class = "add_to_cart"viewBox="0 0 93 83" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_16_2)">
                                        <path d="M81.4908 51.875H34.1601L35.2168 57.0625H78.5551C81.0417 57.0625 82.8848 59.3808 82.3337 61.8154L81.443 65.7508C84.4608 67.2216 86.5417 70.3276 86.5417 73.9219C86.5417 78.98 82.4214 83.072 77.367 82.999C72.5518 82.9295 68.5917 79.0061 68.4617 74.1727C68.3907 71.5324 69.4442 69.1393 71.1747 67.4373H37.3253C39.0007 69.0853 40.0417 71.381 40.0417 73.9219C40.0417 79.0791 35.7585 83.232 30.5689 82.9899C25.9609 82.7752 22.2133 79.0369 21.9711 74.4116C21.7841 70.8397 23.6561 67.6914 26.5002 66.049L15.1582 10.375H3.875C1.73487 10.375 0 8.63313 0 6.48438V3.89062C0 1.74187 1.73487 0 3.875 0H20.4292C22.2699 0 23.8566 1.30028 24.2255 3.11088L25.7055 10.375H89.1234C91.61 10.375 93.4531 12.6933 92.902 15.1279L85.2694 48.8466C84.8685 50.618 83.3001 51.875 81.4908 51.875ZM65.875 27.2344H58.125V20.75C58.125 19.3174 56.9685 18.1562 55.5417 18.1562H52.9583C51.5315 18.1562 50.375 19.3174 50.375 20.75V27.2344H42.625C41.1982 27.2344 40.0417 28.3956 40.0417 29.8281V32.4219C40.0417 33.8544 41.1982 35.0156 42.625 35.0156H50.375V41.5C50.375 42.9326 51.5315 44.0938 52.9583 44.0938H55.5417C56.9685 44.0938 58.125 42.9326 58.125 41.5V35.0156H65.875C67.3018 35.0156 68.4583 33.8544 68.4583 32.4219V29.8281C68.4583 28.3956 67.3018 27.2344 65.875 27.2344Z" fill="black"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_16_2">
                                        <rect width="93" height="83" fill="white"/>
                                        </clipPath>
                                        </defs>
                                        </svg>
                                        
                                </i></div>
                            </div>
                            <div class="btm-right">
                                <div class="done"><i class="icon">done</i></div>
                                <div class="details">
                                    <h1>HERBS</h1>
                                    <p>Added to your cart</p>
                                </div>
                                <div class="remove"><i class="icon">clear</i></div>
                            </div>
                        </div>
                    </div>
                    <div class="inside">
                        <div class="icon"><i class="icon">
                            <svg class="info-icon" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.4169 0.875946C31.4769 0.875946 40.4169 9.83795 40.4169 20.8759C40.4169 31.9179 31.4769 40.8759 20.4169 40.8759C9.3769 40.8759 0.416901 31.9179 0.416901 20.8759C0.416901 9.83795 9.3769 0.875946 20.4169 0.875946ZM20.4169 26.7379C19.4569 26.7379 18.6769 27.5179 18.6769 28.4779C18.6769 29.4379 19.4569 30.2379 20.4369 30.2379C21.3969 30.2379 22.1769 29.4379 22.1769 28.4779C22.1769 27.5179 21.3969 26.7379 20.4169 26.7379ZM20.4169 11.5359C19.4569 11.5359 18.6569 12.3379 18.6569 13.2959V22.1359C18.6569 23.0979 19.4569 23.8759 20.4169 23.8759C21.3769 23.8759 22.1569 23.0979 22.1569 22.1359V13.2959C22.1569 12.3379 21.3769 11.5359 20.4169 11.5359Z" fill="black"/>
                                </svg>
                                
                        </i></div>
                        <div class="info-content">
                            <table>
                                <tr>
                                <th>Width</th>
                                <th>Height</th>
                                </tr>
                                <tr>
                                <td>3000mm</td>
                                <td>4000mm</td>
                                </tr>
                                <tr>
                                <th>Something</th>
                                <th>Something</th>
                                </tr>
                                <tr>
                                <td>200mm</td>
                                <td>200mm</td>
                                </tr>
                                <tr>
                                <th>Something</th>
                                <th>Something</th>
                                </tr>
                                <tr>
                                <td>200mm</td>
                                <td>200mm</td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-2">
                    <div class="card-container-2">
                        <div class="top-2"></div>
                        <div class="bottom">
                            <div class="btm-left">
                                <div class="details">
                                    <h1>SHRUBS</h1>
                                    <p>$5</p>
                                </div>
                                <div class="buy"><i class="icon">
                                    <svg class = "add_to_cart"viewBox="0 0 93 83" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_16_2)">
                                        <path d="M81.4908 51.875H34.1601L35.2168 57.0625H78.5551C81.0417 57.0625 82.8848 59.3808 82.3337 61.8154L81.443 65.7508C84.4608 67.2216 86.5417 70.3276 86.5417 73.9219C86.5417 78.98 82.4214 83.072 77.367 82.999C72.5518 82.9295 68.5917 79.0061 68.4617 74.1727C68.3907 71.5324 69.4442 69.1393 71.1747 67.4373H37.3253C39.0007 69.0853 40.0417 71.381 40.0417 73.9219C40.0417 79.0791 35.7585 83.232 30.5689 82.9899C25.9609 82.7752 22.2133 79.0369 21.9711 74.4116C21.7841 70.8397 23.6561 67.6914 26.5002 66.049L15.1582 10.375H3.875C1.73487 10.375 0 8.63313 0 6.48438V3.89062C0 1.74187 1.73487 0 3.875 0H20.4292C22.2699 0 23.8566 1.30028 24.2255 3.11088L25.7055 10.375H89.1234C91.61 10.375 93.4531 12.6933 92.902 15.1279L85.2694 48.8466C84.8685 50.618 83.3001 51.875 81.4908 51.875ZM65.875 27.2344H58.125V20.75C58.125 19.3174 56.9685 18.1562 55.5417 18.1562H52.9583C51.5315 18.1562 50.375 19.3174 50.375 20.75V27.2344H42.625C41.1982 27.2344 40.0417 28.3956 40.0417 29.8281V32.4219C40.0417 33.8544 41.1982 35.0156 42.625 35.0156H50.375V41.5C50.375 42.9326 51.5315 44.0938 52.9583 44.0938H55.5417C56.9685 44.0938 58.125 42.9326 58.125 41.5V35.0156H65.875C67.3018 35.0156 68.4583 33.8544 68.4583 32.4219V29.8281C68.4583 28.3956 67.3018 27.2344 65.875 27.2344Z" fill="black"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_16_2">
                                        <rect width="93" height="83" fill="white"/>
                                        </clipPath>
                                        </defs>
                                        </svg>
                                        
                                </i></div>
                            </div>
                            <div class="btm-right">
                                <div class="done"><i class="icon">done</i></div>
                                <div class="details">
                                    <h1>SHRUBS</h1>
                                    <p>Added to your cart</p>
                                </div>
                                <div class="remove"><i class="icon">clear</i></div>
                            </div>
                        </div>
                    </div>
                    <div class="inside">
                        <div class="icon"><i class="icon">
                            <svg class="info-icon" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.4169 0.875946C31.4769 0.875946 40.4169 9.83795 40.4169 20.8759C40.4169 31.9179 31.4769 40.8759 20.4169 40.8759C9.3769 40.8759 0.416901 31.9179 0.416901 20.8759C0.416901 9.83795 9.3769 0.875946 20.4169 0.875946ZM20.4169 26.7379C19.4569 26.7379 18.6769 27.5179 18.6769 28.4779C18.6769 29.4379 19.4569 30.2379 20.4369 30.2379C21.3969 30.2379 22.1769 29.4379 22.1769 28.4779C22.1769 27.5179 21.3969 26.7379 20.4169 26.7379ZM20.4169 11.5359C19.4569 11.5359 18.6569 12.3379 18.6569 13.2959V22.1359C18.6569 23.0979 19.4569 23.8759 20.4169 23.8759C21.3769 23.8759 22.1569 23.0979 22.1569 22.1359V13.2959C22.1569 12.3379 21.3769 11.5359 20.4169 11.5359Z" fill="black"/>
                                </svg>
                                
                        </i></div>
                        <div class="info-content">
                            <table>
                                <tr>
                                <th>Width</th>
                                <th>Height</th>
                                </tr>
                                <tr>
                                <td>3000mm</td>
                                <td>4000mm</td>
                                </tr>
                                <tr>
                                <th>Something</th>
                                <th>Something</th>
                                </tr>
                                <tr>
                                <td>200mm</td>
                                <td>200mm</td>
                                </tr>
                                <tr>
                                <th>Something</th>
                                <th>Something</th>
                                </tr>
                                <tr>
                                <td>200mm</td>
                                <td>200mm</td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-3">
                    <div class="card-container-3">
                        <div class="top-3"></div>
                        <div class="bottom">
                            <div class="btm-left">
                                <div class="details">
                                    <h1>CLIMBERS & CREEPERS</h1>
                                    <p>$5</p>
                                </div>
                                <div class="buy"><i class="icon">
                                    <svg class = "add_to_cart"viewBox="0 0 93 83" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_16_2)">
                                        <path d="M81.4908 51.875H34.1601L35.2168 57.0625H78.5551C81.0417 57.0625 82.8848 59.3808 82.3337 61.8154L81.443 65.7508C84.4608 67.2216 86.5417 70.3276 86.5417 73.9219C86.5417 78.98 82.4214 83.072 77.367 82.999C72.5518 82.9295 68.5917 79.0061 68.4617 74.1727C68.3907 71.5324 69.4442 69.1393 71.1747 67.4373H37.3253C39.0007 69.0853 40.0417 71.381 40.0417 73.9219C40.0417 79.0791 35.7585 83.232 30.5689 82.9899C25.9609 82.7752 22.2133 79.0369 21.9711 74.4116C21.7841 70.8397 23.6561 67.6914 26.5002 66.049L15.1582 10.375H3.875C1.73487 10.375 0 8.63313 0 6.48438V3.89062C0 1.74187 1.73487 0 3.875 0H20.4292C22.2699 0 23.8566 1.30028 24.2255 3.11088L25.7055 10.375H89.1234C91.61 10.375 93.4531 12.6933 92.902 15.1279L85.2694 48.8466C84.8685 50.618 83.3001 51.875 81.4908 51.875ZM65.875 27.2344H58.125V20.75C58.125 19.3174 56.9685 18.1562 55.5417 18.1562H52.9583C51.5315 18.1562 50.375 19.3174 50.375 20.75V27.2344H42.625C41.1982 27.2344 40.0417 28.3956 40.0417 29.8281V32.4219C40.0417 33.8544 41.1982 35.0156 42.625 35.0156H50.375V41.5C50.375 42.9326 51.5315 44.0938 52.9583 44.0938H55.5417C56.9685 44.0938 58.125 42.9326 58.125 41.5V35.0156H65.875C67.3018 35.0156 68.4583 33.8544 68.4583 32.4219V29.8281C68.4583 28.3956 67.3018 27.2344 65.875 27.2344Z" fill="black"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_16_2">
                                        <rect width="93" height="83" fill="white"/>
                                        </clipPath>
                                        </defs>
                                        </svg>
                                        
                                </i></div>
                            </div>
                            <div class="btm-right">
                                <div class="done"><i class="icon">done</i></div>
                                <div class="details">
                                    <h1>NAME</h1>
                                    <p>Added to your cart</p>
                                </div>
                                <div class="remove"><i class="icon">clear</i></div>
                            </div>
                        </div>
                    </div>
                    <div class="inside">
                        <div class="icon"><i class="icon">
                            <svg class="info-icon" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.4169 0.875946C31.4769 0.875946 40.4169 9.83795 40.4169 20.8759C40.4169 31.9179 31.4769 40.8759 20.4169 40.8759C9.3769 40.8759 0.416901 31.9179 0.416901 20.8759C0.416901 9.83795 9.3769 0.875946 20.4169 0.875946ZM20.4169 26.7379C19.4569 26.7379 18.6769 27.5179 18.6769 28.4779C18.6769 29.4379 19.4569 30.2379 20.4369 30.2379C21.3969 30.2379 22.1769 29.4379 22.1769 28.4779C22.1769 27.5179 21.3969 26.7379 20.4169 26.7379ZM20.4169 11.5359C19.4569 11.5359 18.6569 12.3379 18.6569 13.2959V22.1359C18.6569 23.0979 19.4569 23.8759 20.4169 23.8759C21.3769 23.8759 22.1569 23.0979 22.1569 22.1359V13.2959C22.1569 12.3379 21.3769 11.5359 20.4169 11.5359Z" fill="black"/>
                                </svg>
                                
                        </i></div>
                        <div class="info-content">
                            <table>
                                <tr>
                                <th>Width</th>
                                <th>Height</th>
                                </tr>
                                <tr>
                                <td>3000mm</td>
                                <td>4000mm</td>
                                </tr>
                                <tr>
                                <th>Something</th>
                                <th>Something</th>
                                </tr>
                                <tr>
                                <td>200mm</td>
                                <td>200mm</td>
                                </tr>
                                <tr>
                                <th>Something</th>
                                <th>Something</th>
                                </tr>
                                <tr>
                                <td>200mm</td>
                                <td>200mm</td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="card-4">
                    <div class="card-container-4">
                        <div class="top-4"></div>
                        <div class="bottom">
                            <div class="btm-left">
                                <div class="details">
                                    <h1>TREES</h1>
                                    <p>$5</p>
                                </div>
                                <div class="buy"><i class="icon">
                                    <svg class = "add_to_cart"viewBox="0 0 93 83" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_16_2)">
                                        <path d="M81.4908 51.875H34.1601L35.2168 57.0625H78.5551C81.0417 57.0625 82.8848 59.3808 82.3337 61.8154L81.443 65.7508C84.4608 67.2216 86.5417 70.3276 86.5417 73.9219C86.5417 78.98 82.4214 83.072 77.367 82.999C72.5518 82.9295 68.5917 79.0061 68.4617 74.1727C68.3907 71.5324 69.4442 69.1393 71.1747 67.4373H37.3253C39.0007 69.0853 40.0417 71.381 40.0417 73.9219C40.0417 79.0791 35.7585 83.232 30.5689 82.9899C25.9609 82.7752 22.2133 79.0369 21.9711 74.4116C21.7841 70.8397 23.6561 67.6914 26.5002 66.049L15.1582 10.375H3.875C1.73487 10.375 0 8.63313 0 6.48438V3.89062C0 1.74187 1.73487 0 3.875 0H20.4292C22.2699 0 23.8566 1.30028 24.2255 3.11088L25.7055 10.375H89.1234C91.61 10.375 93.4531 12.6933 92.902 15.1279L85.2694 48.8466C84.8685 50.618 83.3001 51.875 81.4908 51.875ZM65.875 27.2344H58.125V20.75C58.125 19.3174 56.9685 18.1562 55.5417 18.1562H52.9583C51.5315 18.1562 50.375 19.3174 50.375 20.75V27.2344H42.625C41.1982 27.2344 40.0417 28.3956 40.0417 29.8281V32.4219C40.0417 33.8544 41.1982 35.0156 42.625 35.0156H50.375V41.5C50.375 42.9326 51.5315 44.0938 52.9583 44.0938H55.5417C56.9685 44.0938 58.125 42.9326 58.125 41.5V35.0156H65.875C67.3018 35.0156 68.4583 33.8544 68.4583 32.4219V29.8281C68.4583 28.3956 67.3018 27.2344 65.875 27.2344Z" fill="black"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_16_2">
                                        <rect width="93" height="83" fill="white"/>
                                        </clipPath>
                                        </defs>
                                        </svg>
                                        
                                </i></div>
                            </div>
                            <div class="btm-right">
                                <div class="done"><i class="icon">done</i></div>
                                <div class="details">
                                    <h1>TREES</h1>
                                    <p>Added to your cart</p>
                                </div>
                                <div class="remove"><i class="icon">clear</i></div>
                            </div>
                        </div>
                    </div>
                    <div class="inside">
                        <div class="icon"><i class="icon">
                            <svg class="info-icon" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.4169 0.875946C31.4769 0.875946 40.4169 9.83795 40.4169 20.8759C40.4169 31.9179 31.4769 40.8759 20.4169 40.8759C9.3769 40.8759 0.416901 31.9179 0.416901 20.8759C0.416901 9.83795 9.3769 0.875946 20.4169 0.875946ZM20.4169 26.7379C19.4569 26.7379 18.6769 27.5179 18.6769 28.4779C18.6769 29.4379 19.4569 30.2379 20.4369 30.2379C21.3969 30.2379 22.1769 29.4379 22.1769 28.4779C22.1769 27.5179 21.3969 26.7379 20.4169 26.7379ZM20.4169 11.5359C19.4569 11.5359 18.6569 12.3379 18.6569 13.2959V22.1359C18.6569 23.0979 19.4569 23.8759 20.4169 23.8759C21.3769 23.8759 22.1569 23.0979 22.1569 22.1359V13.2959C22.1569 12.3379 21.3769 11.5359 20.4169 11.5359Z" fill="black"/>
                                </svg>
                                
                        </i></div>
                        <div class="info-content">
                            <table>
                                <tr>
                                <th>Width</th>
                                <th>Height</th>
                                </tr>
                                <tr>
                                <td>3000mm</td>
                                <td>4000mm</td>
                                </tr>
                                <tr>
                                <th>Something</th>
                                <th>Something</th>
                                </tr>
                                <tr>
                                <td>200mm</td>
                                <td>200mm</td>
                                </tr>
                                <tr>
                                <th>Something</th>
                                <th>Something</th>
                                </tr>
                                <tr>
                                <td>200mm</td>
                                <td>200mm</td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sec-4" id="sec-4">
            <div class="info-sec4">
                <p>succulent gift</p>
                <button type="submit" class="more-btn">
                    See All 
                    <svg class="next" viewBox="0 0 18 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.3167 30.7776C0.784168 30.2451 0.735756 29.4118 1.17146 28.8246L1.3167 28.6563L14.2554 15.717L1.3167 2.77764C0.784168 2.24511 0.735756 1.41178 1.17146 0.824556L1.3167 0.656321C1.84923 0.123788 2.68256 0.0753746 3.26978 0.511084L3.43802 0.656321L17.438 14.6563C17.9706 15.1889 18.019 16.0222 17.5833 16.6094L17.438 16.7776L3.43802 30.7776C2.85223 31.3634 1.90249 31.3634 1.3167 30.7776Z" fill="black"/>
                        </svg>
                </button>
            </div>
            <div class="gift-card">
                <div class="gift-box1"></div>
                <div class="gift-sec">
                    <div class="gift-box2"></div>
                    <div class="gift-box3"></div>
                </div>
                <div class="gift-box4"></div>
            </div>
        </div>

        <div class="sec-5">
            <div class="img-deco1"></div>
            <div class="info-deco">
                <h1>Decorate the home</h1>
                <p>Make someone's day with dried florals, wreaths, bouquets </p>
                <button type="submit" class="btn-deco"> more</button>
            </div>
        </div>

        <div class="sec-6" id="sec-6">
            <div class="care-box">
                <h1>What to do if your plant has got</h1>
                <div class="care-sub-box">
                    <div class="sub-box-1">
                        <div class="image"></div>
                        <div class="sub-sec">
                            <button type="submit" class="care-btn">falling leaves</button>
                            <p class="care">This can be a sign of both underwatering and overwatering.</p>
                        </div>
                    </div>
                    <div class="sub-box-2">
                        <div class="image"></div>
                        <div class="sub-sec">
                            <button type="submit" class="care-btn">leaf spots</button>
                            <p class="care">There are two types of leaf spots.</p>
                        </div>
                    </div>
                    <div class="sub-box-3">
                        <div class="image"></div>
                        <div class="sub-sec">
                            <button type="submit" class="care-btn">small flies </button>
                            <p class="care">All of a sudden they appear, those bothersome little block flies.</p>
                        </div>

                    </div>
                    <div class="sub-box-4">
                        <div class="image"></div>
                        <div class="sub-sec">
                            <button type="submit" class="care-btn">yellow spots</button>
                            <p class="care">Tips of leaves turn yellow and then brown with the potential for the entire.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="sec-7" id="sec-7">
            <div class="about-us">
                <h1>About Us</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis maxime, quod, distinctio repellendus obcaecati quisquam inventore impedit consequatur saepe quibusdam eaque temporibus? Officiis, cum illo! Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <span class="address">
                    <span class="sub-head">Address:<br></span>VMVG+X7Q, Choodasandra, Junnasandra, Karnataka 560035 </span> <br><br>
                <span class="number">
                    <span class="sub-head">Contact:</span> <br>+91 9825469387</span><br><br>
                <span class="mail">
                    <span class="sub-head">Email:</span> <br>
                <a href="#">shopcitoxe@gmail.com</a> 
                </span>
            </div>
            <div class="about-img"></div>
        </div>




        //Footer
        include _footer



        
        //- script(src='/js/index.js')
        script(src='/js/bundle.js')