extends base

block content
    //- main.main
    //-     .login-form
    //-         h2.heading-secondary.ma-bt-lg Log into your account
    //-         form.form.form--login
    //-             .form__group
    //-                 label.form__label(for='email') Email address
    //-                 input#email.form__input(type='email', placeholder='you@example.com', required)
    //-             .form__group.ma-bt-md
    //-                 label.form__label(for='password') Password
    //-                 input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
    //-             .form__group
    //-                 input.btn.btn--green(type='Submit' value='Login')

    .left-container
    .right-container
        .heading 
            h1 Welcome Back

        .sub-heading 
            p Plants for your home, for your soul<br />
                span Connect with nature, connect with us

        .form-container
            form(method="POST").form--login
                span.up Email Address*
                .input-field 
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                span.up Password*
                .input-field 
                    input#password.form__input(type='password', placeholder='••••••••', required)
                .button
                    button(type='Submit') Login

                p#signup Don't have an account?
                    a(href="/register") Sign up
                p#warning
    