html
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel="preconnect", href="https://fonts.googleapis.com")
            link(rel="preconnect", href="https://fonts.gstatic.com")
            link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap")
            link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap")
            
            link(rel='stylesheet' href='/css/shop.css')
            //- link(rel='stylesheet' href='/css/login.css')
            link(rel='shortcut icon' type='/image/png' href='img/favicon.png')

            title Citoxe | #{title}
    
    body
        <nav class="navMenu">
            <div class="menu">
            <a href="#">Home</a>
            <a href="./shop">Shop</a>
            <a href="./cart">Cart</a>
            <a href="#">Users</a>
            <div class="dot"></div>
            </div>
            <button>Log Out 

                <svg viewBox="0 0 89 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M44.5 8.34375C36.0589 8.34375 28.9639 13.8089 26.0742 21.207L31.2028 23.293C33.311 17.8946 38.4814 13.9062 44.5 13.9062C52.1596 13.9062 58.4062 20.1529 58.4062 27.8125V31.6367C54.2983 29.2448 49.573 27.8125 44.5 27.8125C29.1697 27.8125 16.6875 40.2947 16.6875 55.625C16.6875 70.9553 29.1697 83.4375 44.5 83.4375C59.8303 83.4375 72.3125 70.9553 72.3125 55.625C72.3111 51.9328 71.5723 48.278 70.1395 44.8752C68.7067 41.4723 66.6088 38.3898 63.9688 35.8086V27.8125C63.9688 17.1214 55.1911 8.34375 44.5 8.34375ZM44.5 33.375C56.8209 33.375 66.75 43.3041 66.75 55.625C66.75 67.9459 56.8209 77.875 44.5 77.875C32.1791 77.875 22.25 67.9459 22.25 55.625C22.25 43.3041 32.1791 33.375 44.5 33.375ZM44.5 50.0625C43.0247 50.0625 41.6099 50.6485 40.5667 51.6917C39.5235 52.7349 38.9375 54.1497 38.9375 55.625C38.9375 57.6776 40.0556 59.4381 41.7188 60.406V69.5312H47.2812V60.406C48.9444 59.4381 50.0625 57.6803 50.0625 55.625C50.0625 54.1497 49.4765 52.7349 48.4333 51.6917C47.3901 50.6485 45.9753 50.0625 44.5 50.0625V50.0625Z" fill="white"/>
                    </svg>
                    

            </button>
        </nav>
    
<!-- HTML code for the shop page -->
<div class="shop-page">
    <h1>Welcome to our Plant Shop</h1>
    <p> Welcome to our plant shop! We are proud to offer a wide variety of plants to help bring life and beauty to your home or garden. Whether you are looking for colorful flowers, lush green foliage, or unique and exotic plants, you will find it here. Our team of plant experts is always available to provide advice and guidance on plant care and selection. <br><span>Here you can browse and purchase a variety of plants to add some greenery to your home or garden.</span> </p>
    <h2>Featured Plants:</h2>

    <div class="featured-plants">
        <div class="plant">
            <img src="/img/assets/orginals/andrew-reshetov-tXGOhiGBu5I-unsplash.jpg" alt="Spineless yucca">
            <h3>Spineless yucca</h3>
            <p>$40</p>
            <button>Add to Cart 
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.3 21C6.66667 21 6.125 20.7707 5.675 20.312C5.225 19.854 5 19.3083 5 18.675V9.4L3.175 5H1V3H4.525L6.175 7H20.95C21.3333 7 21.625 7.15833 21.825 7.475C22.025 7.79167 22.0333 8.11667 21.85 8.45L19 14.025C19.85 14.1583 20.5627 14.55 21.138 15.2C21.7127 15.85 22 16.6167 22 17.5C22 18.4667 21.6627 19.2917 20.988 19.975C20.3127 20.6583 19.4917 21 18.525 21C17.5417 21 16.7127 20.6583 16.038 19.975C15.3627 19.2917 15.025 18.4667 15.025 17.5C15.025 17.1667 15.0667 16.8583 15.15 16.575C15.2333 16.2917 15.35 16.0167 15.5 15.75L12.225 15.45L9.225 19.95C9.00833 20.2833 8.729 20.5417 8.387 20.725C8.04567 20.9083 7.68333 21 7.3 21ZM7.325 18.975C7.35833 18.975 7.43333 18.9333 7.55 18.85L9.975 15.25C9.15833 15.1667 8.51667 14.9707 8.05 14.662C7.58333 14.354 7.23333 14.0333 7 13.7V18.7C7 18.7833 7.03333 18.85 7.1 18.9C7.16667 18.95 7.24167 18.975 7.325 18.975V18.975ZM18.5 19C18.9333 19 19.2917 18.854 19.575 18.562C19.8583 18.2707 20 17.9167 20 17.5C20 17.0667 19.8583 16.7083 19.575 16.425C19.2917 16.1417 18.9333 16 18.5 16C18.0833 16 17.7293 16.1417 17.438 16.425C17.146 16.7083 17 17.0667 17 17.5C17 17.9167 17.146 18.2707 17.438 18.562C17.7293 18.854 18.0833 19 18.5 19Z" fill="white"/>
                </svg>
                    
            </button>
        </div>
        <div class="plant plant-2">
            <img src="/img/assets/orginals/Pilea Plants.jpg" alt="Callisia Fragrans">
            <h3>Pilea Plants</h3>
            <p>$25</p>
            <button>Add to Cart
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.3 21C6.66667 21 6.125 20.7707 5.675 20.312C5.225 19.854 5 19.3083 5 18.675V9.4L3.175 5H1V3H4.525L6.175 7H20.95C21.3333 7 21.625 7.15833 21.825 7.475C22.025 7.79167 22.0333 8.11667 21.85 8.45L19 14.025C19.85 14.1583 20.5627 14.55 21.138 15.2C21.7127 15.85 22 16.6167 22 17.5C22 18.4667 21.6627 19.2917 20.988 19.975C20.3127 20.6583 19.4917 21 18.525 21C17.5417 21 16.7127 20.6583 16.038 19.975C15.3627 19.2917 15.025 18.4667 15.025 17.5C15.025 17.1667 15.0667 16.8583 15.15 16.575C15.2333 16.2917 15.35 16.0167 15.5 15.75L12.225 15.45L9.225 19.95C9.00833 20.2833 8.729 20.5417 8.387 20.725C8.04567 20.9083 7.68333 21 7.3 21ZM7.325 18.975C7.35833 18.975 7.43333 18.9333 7.55 18.85L9.975 15.25C9.15833 15.1667 8.51667 14.9707 8.05 14.662C7.58333 14.354 7.23333 14.0333 7 13.7V18.7C7 18.7833 7.03333 18.85 7.1 18.9C7.16667 18.95 7.24167 18.975 7.325 18.975V18.975ZM18.5 19C18.9333 19 19.2917 18.854 19.575 18.562C19.8583 18.2707 20 17.9167 20 17.5C20 17.0667 19.8583 16.7083 19.575 16.425C19.2917 16.1417 18.9333 16 18.5 16C18.0833 16 17.7293 16.1417 17.438 16.425C17.146 16.7083 17 17.0667 17 17.5C17 17.9167 17.146 18.2707 17.438 18.562C17.7293 18.854 18.0833 19 18.5 19Z" fill="white"/>
                    </svg>
            </button>
        </div>
        <div class="plant plant-3">
            <img src="/img/assets/orginals/stephanie-harvey-T0inbt7nRME-unsplash.jpg" alt="Aloe vera">
            <h3>Aloe vera</h3>
            <p>$15</p>
            <button>Add to Cart
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.3 21C6.66667 21 6.125 20.7707 5.675 20.312C5.225 19.854 5 19.3083 5 18.675V9.4L3.175 5H1V3H4.525L6.175 7H20.95C21.3333 7 21.625 7.15833 21.825 7.475C22.025 7.79167 22.0333 8.11667 21.85 8.45L19 14.025C19.85 14.1583 20.5627 14.55 21.138 15.2C21.7127 15.85 22 16.6167 22 17.5C22 18.4667 21.6627 19.2917 20.988 19.975C20.3127 20.6583 19.4917 21 18.525 21C17.5417 21 16.7127 20.6583 16.038 19.975C15.3627 19.2917 15.025 18.4667 15.025 17.5C15.025 17.1667 15.0667 16.8583 15.15 16.575C15.2333 16.2917 15.35 16.0167 15.5 15.75L12.225 15.45L9.225 19.95C9.00833 20.2833 8.729 20.5417 8.387 20.725C8.04567 20.9083 7.68333 21 7.3 21ZM7.325 18.975C7.35833 18.975 7.43333 18.9333 7.55 18.85L9.975 15.25C9.15833 15.1667 8.51667 14.9707 8.05 14.662C7.58333 14.354 7.23333 14.0333 7 13.7V18.7C7 18.7833 7.03333 18.85 7.1 18.9C7.16667 18.95 7.24167 18.975 7.325 18.975V18.975ZM18.5 19C18.9333 19 19.2917 18.854 19.575 18.562C19.8583 18.2707 20 17.9167 20 17.5C20 17.0667 19.8583 16.7083 19.575 16.425C19.2917 16.1417 18.9333 16 18.5 16C18.0833 16 17.7293 16.1417 17.438 16.425C17.146 16.7083 17 17.0667 17 17.5C17 17.9167 17.146 18.2707 17.438 18.562C17.7293 18.854 18.0833 19 18.5 19Z" fill="white"/>
                    </svg>
            </button>
        </div>
    </div>
</div>

script(src='/js/bundle.js')
</body>
</html>